/* im french */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap');
/* literata */
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,300;0,7..72,400;0,7..72,500;0,7..72,600;0,7..72,700;0,7..72,800;0,7..72,900;1,7..72,200;1,7..72,300;1,7..72,400;1,7..72,500;1,7..72,600;1,7..72,700;1,7..72,800;1,7..72,900&display=swap');


:root{
    /* fonts */
    --french: 'IM Fell French Canon', serif;
    --literata: 'Literata', serif;
    /* colors */
    --white: #eeee;
    --black: #0f0f0f;
    --creamy-pastel-white: #D9D4C1;
}

body{
    background: var(--creamy-pastel-white);
}

.nav-link{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: var(--french);
    color: var(--white);
}

.contato{
    font-size: .5rem;
    color: #3d3d3d;
}

.slogan{
    font-family: var(--french);
    color: var(--white);
}

.main-section-background{
    background-image: url('../img/Background_main_div.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;
}

.moveis-text{
    font-family: var(--french);
    color: var(--black);
    padding: 0 4rem 0 4rem;
    border-bottom: 4px solid var(--black);
}

#cozinha-text{
    color: white;
    font-family: var(--literata);
}

#container-img{
    margin: 30rem;
}
