@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap');

:root{
    --french: 'IM Fell French Canon', serif;
}

.nav-link{
    font-size: 1.5rem;
    font-family: var(--french);
}

.contato{
    font-size: .5rem;
    color: #3d3d3d;
}